passage(title='driving/actions')
  .passage-box.actions

    passage(title='driving/actions/coffee')
      //- Sip sound
      p It's still warm.
      p Tastes pretty good for terrible coffee.
      p Caffeine is supposed to make blood vessels contract.
      p Maybe that helps keep me awake.
      p: hyperlink(to='driving/thoughts/action/coffee') ...

    passage(title='driving/actions/window')
      //- window noise
      p That actually feels nice.
      p I think the warm air was getting to me.
      p: hyperlink(to='driving/thoughts/action/window') ...

    passage(title='driving/actions/radio')
      p I wish I had bluetooth or something.
      p There's not a lot of stations out here.
      //- Radio music
      p This will work I guess.
      p: hyperlink(to='driving/thoughts/action/radio') ...

    passage(title='driving/actions/deepbreath')
      //- Deep breating
      p My therapist says theres two types of breathing.
      p Breathing in with the chest is stimulating.
      p And breathing in the stomach area is relaxing.
      p: hyperlink(to='driving/thoughts/action/breathing') ...

    passage(title='driving/actions/situp')
      //- Leather sound
      p Much better.
      p I just needed to fix my posture.
      p As long as I keep my posture up I'll stay awake.
      p: hyperlink(to='driving/thoughts/action/posture') ...
