passage(title='driving/actions')
  .passage-box.actions

    passage(title='driving/actions/situp')
      //- Leather sound
      p Much better.
      p I just needed to fix my posture.
      p As long as I keep my posture up I'll stay awake.
      p: hyperlink(to='driving/thoughts/action/posture') ...
  
    passage(title='driving/actions/coffee')
      //- Sip sound
      p It's still warm.
      p Tastes pretty good for terrible coffee.
      p Caffeine is supposed to make blood vessels contract.
      p Maybe that helps keep me awake.
      p: hyperlink(to='driving/thoughts/action/coffee') ...

    passage(title='driving/actions/radio')
      p I wish I had bluetooth or something.
      p There's not a lot of stations out here.
      //- Radio music
      p This will work I guess.
      p: hyperlink(to='driving/thoughts/action/radio') ...