passage(title='driving/choices')
  .passage-box.choices
    p I just need to...

    p: hyperlink(to='driving/actions/situp') Sit up straight.
    p: hyperlink(to='driving/actions/coffee') Drink some coffee.
    p: hyperlink(to='driving/actions/radio') Turn on the radio.
    