passage(title='driving/choices')
  .passage-box.choices
    p(v-if='actionsCount >= 0'): hyperlink(to='driving/actions/coffee' notAgain="true" @go='incrementActionsCount') Drink some coffee.
    p(v-if='actionsCount >= 1'): hyperlink(to='driving/actions/window-blank' notAgain="true" @go='incrementActionsCount(); windowSequence()') Open a window.
    p(v-if='actionsCount >= 2'): hyperlink(to='driving/actions/radio' notAgain="true" @go='incrementActionsCount') Turn on the radio.
    p(v-if='actionsCount >= 3'): hyperlink(to='driving/actions/deepbreath' notAgain="true" @go='incrementActionsCount') Focus on breathing.
    p(v-if='actionsCount >= 0'): hyperlink(to='driving/actions/situp-blank' notAgain="true" @go='incrementActionsCount(); sitUpSequence();') Sit up straight.
    p(v-if='actionsCount >= 5'): hyperlink(to='driving/thoughts/idle/final') I got this.
