passage(title='driving/choices')
  .passage-box.choices
    p I just need to...

    p: hyperlink(to='driving/actions/situp' notAgain="true") Sit up straight.
    p: hyperlink(to='driving/actions/coffee' notAgain="true") Drink some coffee.
    p: hyperlink(to='driving/actions/radio' notAgain="true") Turn on the radio.
    