passage(title='gameplay-test')
  backdrop(file='test-cinemagraph.mp4' type='video' color='white')
  div.passage-box
    p This is a test
    p Speed: #[input(readonly)]
    p Radio: #[input(readonly)]
