passage(title='gameplay-test' @enter="$refs.soundDream.fadeIn()" @leave="$refs.soundDream.fadeOut()")
  backdrop(file='test-cinemagraph.mp4' type='video' color='white')
  howl(file='dream.ogg' loop=true ref='soundDream')
  div.passage-box
    p This is a test box

    passage(sequence=1)
      p Passage A
    passage(sequence=2)
      p B Passage
    passage(sequence=3)
      p C Passage

    p: hyperlink(to='+1' v-if='currentPassageSequence < 3') Next
    p: hyperlink(to='intro' v-if='currentPassageSequence >= 3') Next