passage(title='intro' @enter='resetPassageHistory')
  .passage-box
    h1 µsleep
    p: hyperlink(to='driving/thoughts/idle/surroundings') Sequence
    p: hyperlink(to='gameplay-test') Gameplay Test...
    p: hyperlink(to='audio-test-1') Audio Test...
    p: hyperlink(to='drifting-off') Drift off test
    p: hyperlink(to='thoughts-1') Memories...
