passage(@enter="consoleLog('alarm going off')" title='morning-alarm')
  p Your alarm wakes you *beeep* *beeep* *beep*
  p
    | You consider hitting
    hyperlink(to='snooze') snooze
    | or maybe
    hyperlink(to='turn-off-alarm') turning off your alarm
    | .

passage(title='turn-off-alarm')
  p
    | You turn off your alarm and look at the time
    clock(:timestamp='currentTime')
    | .
  p
    hyperlink(to='stand-up') You get out of bed and stand up
  p
    hyperlink(to='deep-sleep' @go='incrementTime(60)') You drift off back to sleep...

passage(title='snooze')
  p
    | You snooze your alarm and look at the time
    clock(:timestamp='currentTime')
    | .
  p
    hyperlink(to='stand-up') You get out of bed and stand up
  p
    hyperlink(to='deep-sleep' @go='incrementTime(10)') You drift off back to sleep...

passage(title='deep-sleep')
  p
    hyperlink(to='morning-alarm') You dream about Vue...

passage(title='stand-up')
  p You stand up, and go about your day. It's a great day. All is good.
  p You go back home and get in bed.
  p
    hyperlink(to='deep-sleep' @go='incrementTime(360)') You drift off to sleep...
