//- Main files
include ./intro.pug
include ./actions.pug
include ./choices.pug
include ./thoughts.pug
//- Test stuff
include ./audio-test.pug
include ./gameplay-test.pug
include ./thoughts-1.pug
include ./drifting-off-test.pug

backdrop(title='driving' type='color' color='#002')