//- Example of including anohter file
include ./intro.pug
include ./audio-test.pug
include ./gameplay-test.pug

passage(title='morning-alarm' @enter="$refs.soundAlarm.play()" @leave="$refs.soundAlarm.stop()")
  howl(file='alarm.ogg' loop=true ref='soundAlarm')
  howl(file='switch.ogg' ref='soundSwitch')
  p Your alarm kills you.
  p You consider hitting #[hyperlink(to='snooze' @go="$refs.soundSwitch.play()") snooze] or maybe #[hyperlink(to='turn-off-alarm' @go="$refs.soundSwitch.play()") turning off your alarm].

passage(title='turn-off-alarm' @enter='changeAlarm(false)')
  p You turn off your alarm and look at the time #[clock(:timestamp='currentTime')].
  p: hyperlink(to='stand-up') You get out of bed and stand up
  p: hyperlink(to='deep-sleep' @go='incrementTime(60)') You drift off back to sleep...

passage(title='slept-in')
  p You wake up and look at the time #[clock(:timestamp='currentTime')].
  p You slept in.
  p: hyperlink(to='stand-up') You get out of bed and stand up
  p: hyperlink(to='deep-sleep' @go='incrementTime(60)') You drift off back to sleep...

passage(title='snooze')
  p You snooze your alarm and look at the time #[clock(:timestamp='currentTime')].
  p: hyperlink(to='stand-up') You get out of bed and stand up
  p: hyperlink(to='deep-sleep' @go='incrementTime(10)') You drift off back to sleep...

passage(title='deep-sleep' @enter="$refs.soundDream.play()" @leave="$refs.soundDream.stop()")
  //- If the alarm was turned off and we fall asleep, then player sleeps in.
  howl(file='dream.ogg' loop=true ref='soundDream')
  p(v-if="alarmOn")
    hyperlink(to='morning-alarm') You dream about Vue...
  p(v-else)
    hyperlink(to='slept-in') You dream about Vue...

passage(title='stand-up')
  p You stand up, and go about your day.
  p(v-if="alarmOn") Your alarm went off again while you were in the shower. This bothered you.
  p(v-else) It's a great day. All is good.
  p You go back home and get in bed. You love bed.
  p: hyperlink(to='deep-sleep' @go='incrementTime(360);changeAlarm(true);restartTimeofDay();') You drift off to sleep...
