passage(title='driving/thoughts/idle/surroundings' @enter='$refs.driving.fadeIn(1000)')
  .passage-box.thoughts
    p I'm so tired.
    p It's been a long day.
    p This car is dirty.
    p This seat is warm.
    p There's a glare on the windshield.
    p It's quiet.
    p It's nice to have time to myself.
    p: hyperlink(to='driving/choices') I need to stay awake.

passage.wake-up.slow(title='driving/thoughts/idle/denial' @enter='$refs.driving.fadeIn(100)')
  .passage-box.thoughts
    p Am I starting to drift off?
    p It's not even that late.
    p I'm zoning out, that's why I feel this way.
    p Gotta keep myself entertained or something.
    p It's all good.
    p: hyperlink(to='driving/choices') I got this.
  
passage.wake-up(title='driving/thoughts/idle/noise' @enter='$refs.driving.fadeIn(100)')
  .passage-box.thoughts
    p I need to shake this off.
    p Something to focus on.
    p I never feel this way if someone is with me.
    p Maybe if I talk to myself.
    p Noise might help.
    p: hyperlink(to='driving/choices') I got this.

passage.wake-up(title='driving/thoughts/idle/air' @enter='$refs.driving.fadeIn(100)')
  .passage-box.thoughts
    p Shit, this isn't good.
    p How much time has passed?
    p It was just a split second.
    p Just breath.
    p Deep breaths.
    p The air should wake me up.
    p: hyperlink(to='driving/choices') I got this.

passage.wake-up(title='driving/thoughts/idle/pullover' @enter='$refs.driving.fadeIn(100)')
  .passage-box.thoughts
    p Did I do it again?
    p Maybe I should pull over.
    p That is always an option.
    p What would that be like?
    p Sleeping on the side of the road?
    p: hyperlink(to='driving/choices') I got this.

passage.wake-up.slowest(title='driving/thoughts/idle/final-shakeoff' @enter='$refs.driving.fadeIn(100)')
  .passage-box.thoughts
    p I think I'm almost there.
    p I can keep pushing through.
    p: hyperlink(to='driving/choices') I think I got this.
